:host {
  flex: 1;
}

.collapse li a:hover {
  color: #0d6efd;
  background: #fff;
}

.navbar-nav li a {
  color: #fff;
}

.sidebar li a{
  color: #fff;
}

.sidebar li a:hover{
  color: #587BF9;
  background: #fff;
}

.sidebar ul {
  list-style: none;
}

.offcanvas{
  width: 280px;
}

#footer-nav a {
  color: #fff;
}

#footer-nav a:hover {
  color: #587BF9;
  background: #fff;
}