:host {
  flex: 1;
}

.navbar-nav li a:hover {
  color: #587bf9;
  background: #fff;
}

.navbar-nav li a {
  color: #fff;
}

.sidebar li a {
  color: #fff;
}

.sidebar li a:hover {
  color: #587bf9;
  background: #fff;
}

.sidebar ul {
  list-style: none;
}

.offcanvas {
  width: 280px;
}

#footer-nav a {
  color: #fff;
}

#footer-nav a:hover {
  color: #587bf9;
  background: #fff;
}

.topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}
