:host {
  flex: 1;
}

.collapse li a:hover {
  color: #587BF9;
  background: #fff;
}

.collapse li a {
  color: #fff;
}

.sidebar li a{
  color: #fff;
}

.sidebar li a:hover{
  color: #587BF9;
  background: #fff;
}

.sidebar ul {
  list-style: none;
}

.offcanvas{
  width: 260px;
}

#footer-nav a {
  color: #fff;
}

#footer-nav a:hover {
  color: #587BF9;
  background: #fff;
}


// .btn-outline-primary {
//   color: #587BF9;
//   border-color: #587BF9;
// }

// .btn-outline-primary :hover{
//   color: #fff;
// }