.login-pf body {
  background-color: #17171d !important;
  background-size: cover;
  height: 100%;
  vertical-align: middle;
  background: none;
}
/**/
.container {
  color: white;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 346px;
}

.signin-header {
  /* position: absolute; */
  /* width: 530px;
      height: 58px;
      left: 455px;
      top: 178px; */

  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 57px;
  /* identical to box height, or 130% */

  text-align: center;
  letter-spacing: -0.04em;

  /* White */

  color: #ffffff;
}

.login-divider {
  /* width: 30%; */
  background-color: #dbe3e9;
}

.dright {
  margin-right: 31px;
}

.dleft {
  margin-left: 31px;
}

.or {
  width: 22px;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: -0.02em;
  align-items: center;
}

.divider {
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.login-item {
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

.mat-button {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  overflow: visible;
}

a.mat-button:hover {
  text-decoration: none;
}

/* .login-divider {
    max-width: 130px;
  } */

.error {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 57px;
  /* identical to box height, or 130% */

  text-align: center;
  letter-spacing: -0.04em;

  color: #d95040;
}

.error-content {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  text-align: center;

  color: #d95040;
}
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.formFooter {
  padding-top: 32px;
}

.apple {
  padding-top: 80px;
}

.apple-button {
  background: #ffffff;
  border-radius: 12px;
  color: black;
}

.google-button {
  background: #d6d9da;
  border-radius: 12px;
  color: gray;
}

.facebook-button {
  background: #3975ea;
  border-radius: 12px;
  color: white;
}

/* BUTTON */
.login-button {
  width: 100%;
  background: #404344;
  border-radius: 12px;
}

.login-container {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: transparent;
  padding: 30px;
  width: 90%;
  /* max-width: 450px; */
  position: relative;
  padding: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.help-block {
  color: red;
}

/* ANIMATIONS */

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.oath-container {
  padding-top: 20px;
}

/*  */

.container-b {
  margin: 0 auto;
  box-shadow: var(--pf-global--BoxShadow--lg);
  padding: 0 20px;
  max-width: 500px;
  border-top: 4px solid;
  border-color: #0066cc; /* default - IE compatibility */
  border-color: var(--pf-global--primary-color--100);
  color: white;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
}

.pf-c-form__label-text {
  display: none;
}

.a-link:hover {
  color: white;
  text-decoration: none;
}

.forget {
  margin-top: 10px;
}

.back {
  margin-bottom: 10px;
}

.coronome-name {
  display: none;
}

.login-pf-page .login-pf-page-header {
  margin-bottom: 40px;
  display: none;
}

.login-pf-page .card-pf {
  padding: 20px 40px 30px 40px;
  margin-top: 50px;
}
